// kako.scss

$body-background-color: #141414;
$body-text-color: #ffffff;
$body-heading-color: #ffde73;
$link-color: #cab87a;
$sidebar-color: #1f1f1f;
$nav-child-link-color: #dcdcdc;
$btn-primary-color: #cab87a;
$base-button-color: #2c2c2c;
$code-background-color: #1f1f1f;
$table-background-color: #141414;
$search-background-color: #141414;
$search-result-preview-color: #cab87a;
