// kako-light.scss

$body-background-color: #fafafc;
$body-text-color: #1d1d1f;
$body-heading-color: #1d1d1f;
$link-color: #1d1d1f;
$sidebar-color: #fafafc;
// $nav-child-link-color: #dcdcdc;
// $btn-primary-color: #cab87a;
// $base-button-color: #2c2c2c;
$code-background-color: #1f1f1f;
$table-background-color: #141414;
$search-background-color: #141414;
$search-result-preview-color: #cab87a;

// Disable features 
// $site-title:hover