
// Wayne-O Theme Overrides — “Outback Global”
$body-background-color: #F9F9F4;     // soft beige/sand
$body-heading-color: #002244;        // navy headings
$body-text-color: #2C2C2C;           // charcoal

$link-color: #3A6B35;                // bush green links
$nav-child-link-color: #002244;

$sidebar-color: #D8CFAA;             // khaki sidebar
$base-button-color: #FFF7DC;
$btn-primary-color: #FFB81C;         // gold primary buttons
$code-background-color: #F4F2E9;

$feedback-color: darken(#D8CFAA, 3%);

$table-background-color: #FFFFFF;
$search-background-color: #FFFFFF;
$search-result-preview-color: #2C2C2C;
